/* BookingPage Styles */
.booking-hero {
    color: var(--secondary-color);
    margin: 5rem 10vw;
}

.booking-hero h1 {
    font-family: 'Archivo Black';
    text-align: center;
    font-size: 4rem;
}

.booking-hero h2 {
    font-family: 'Archivo Black';
    text-align: center;
    font-size: 2.25rem;
    margin-bottom: 5rem;
}

.booking-message {
    display: flex;
}

.booking-about  {
    margin-left: 4rem;
    color: var(--secondary-text-color);
}

.booking-about  p {
    font-size: 1.125rem;
}

.key-details {
    margin-top: 4rem;
}

.key-details h3 {
    color: var(--secondary-color);
    padding-bottom: 1rem;
}

.key-details li{
    font-size: 1.125rem;
    margin-left: 1rem;
    max-width: 35vw;
    padding-bottom: 2px;
}
/* Booking Form */
.form-section {
    background-color: var(--secondary-color);
}

.form-section h2 {
    font-family: 'Archivo Black';
    text-align: center;
    font-size: 2.5rem;
    padding: 5rem;

}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.booking-form {
    display: flex;
    flex-direction: column;
    padding: 0 8rem;
}

.booking-form input, select {
    font-family: 'Archivo';
    background-color: transparent;
    border: 3px solid;
    border-radius: 10px;
    margin-bottom: 2rem;
    font-size: 1.25rem;
    padding: .5rem;
    outline: none;
}

.booking-form button {
    background-color: var(--background);
    color: var(--secondary-color);
    font-size: 1.25rem;
    padding: .5rem 2rem;
    border: none;
    border-radius: 5px;
    width: fit-content;
    margin-bottom: 5rem;
    box-shadow: 2px 2px 4px black;
}

.booking-form button:hover {
    box-shadow: 2px 2px 4px var(--shadow-color);
}

/* Error message */
.form-section p {
    font-size: 1.25rem;
    margin-left: 20vw;
    color: var(--highlight-color);
}
/* end of form */

