/* HomePage Styles */

.home-page {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

/* Hero Section */
.hero {
    text-align: center;
    height: 90vh;
    position: relative;
    text-align: center;
    z-index: 0;
}

.hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90vh;
    object-fit: cover;
    z-index: 1;
}

.hero-message {
    position: relative;
    color: var(--primary-color);
    text-shadow: 4px 4px 8px var(--navbar-color);
    z-index: 2;
}

.hero-message h1 {
    font-family: 'Archivo Black';
    font-size: 8rem;
    margin-top: 4rem;
}

.hero-message h2{
    font-family: 'Righteous';
    font-size: 4rem;
}

.hero-message button {
    background-color: var(--background);
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1.75rem;
    padding: .75rem 1.5rem;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 10px var(--hover-color);
    margin-top: 6rem;
}

.hero-message button:hover {
    box-shadow: 1px 1px 5px var(--hover-color);
    padding: .625rem 1.375rem;
}
/* End of hero */

/* About section */
.about {
    margin: 3rem 10vw;
}

.about h2 {
    font-family: 'Archivo Black';
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 5rem;
    font-size: 3rem;
}

.aboutContainer {
    display: flex;
}

.about-message {
    color: var(--primary-color);
    padding-left: 5rem;
}

.about-message h3 {
    font-size: 2.5rem;
    padding-bottom: 2rem;
}

.about-message p {
    color: var(--secondary-text-color);
    font-size: 1.125rem;
    padding-bottom: 2rem;
}

.about-message h4 {
    font-size: 1.25rem;
    padding-bottom: .5rem;
}

.about-message li {
    color: var(--secondary-text-color);
    font-size: 1.125rem;
    padding-bottom: .5rem;
}


/* End of about */

/* Featured Products */
.featured-products {
    background-color: var(--primary-color);
    padding: 5rem 10vw;
}

.featured-products h2 {
    font-family: 'Archivo Black';
    color: var(--highlight-color);
    text-align: center;
    font-size: 2.5rem;
}

.featured-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
}

.featured-grid li {
    list-style-type: none;
    margin-top: 4rem;
}

.featured-grid h3 {
    text-align: center;
    font-size: 1.75rem;
    margin-bottom: 1.5rem;
}

.featured-grid figcaption {
    color: var(--highlight-color);
    font-size: 1.125rem;
    margin-bottom: .5rem;
}

.featured-grid p {
    font-size: 1.125rem;
    max-width: 350px;
}

/* Call to Action */
.cta-section {
    display: flex;
    padding: 5rem 15vw;
    justify-content: space-between;
}

.cta-message {
    color: var(--primary-color);
}

.cta-message h2 {
    font-family: 'Archivo Black';
    font-size: 2rem;
}

.cta-message h3 {
    font-size: 2rem;
}

.cta-buttons {
    margin-top: 2rem;
}

.cta-buttons a {
    margin: 2rem;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.store-tasting {
    background-color: var(--primary-color);
    color: var(--navbar-color);
    padding: 1rem 2rem;
    border-radius: 5px;
    
}

.contact-us {
    color: var(--primary-color);
    padding: .875rem 2.5rem;
    border: 3px solid var(--primary-color);
    border-radius: 5px;
    box-sizing: border-box;
}
/* End of cta */


@media (max-width: 768px) {
    /* Hero Section */
    .hero {
        width: 100%;
    }

    .hero-video {
        top: 20px;
        left: 0;
        width: 100vw;
        height: 90vh;
    }

    .hero-message h1 {
        font-size: 2.5rem;
        margin-top: 30vh;
    }

    .hero-message h2{
        font-size: 1.75rem;
    }

    .hero-message button {
        margin-top: 20vh;
    }
    /* End of hero */

    /* About section */
    .about {
        margin: 2rem 0;
    }

    .about h2 {
        margin-bottom: 4rem;
        font-size: 2.5rem;
    }

    .aboutContainer {
        flex-direction: column;
    }

    .aboutImg {
        width: 92vw;
        margin: 0 4vw 2rem;
    }

    .about-message {
        padding: 0;
        margin: 2rem 2rem 0;
    }

    .about-message h3 {
        font-size: 2rem;
    }

    .about-message h4 {
        font-size: 1.5rem;
    }

    .about-message li {
        margin-left: 1rem;
    }
    /* End of about */

    /* Featured Products */
    .featured-products {
        padding: 3rem 10vw;
    }

    .featured-products h2 {
        font-size: 1.75rem;
    }

    .featured-grid {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .featured-grid img {
        width: 80vw;
    }

    .featured-grid p {
        max-width: 80vw;
    }

    /* Call to Action */
    .cta-section {
        display: flex;
        flex-direction: column;
        padding: 2rem 5vw;
        justify-content: none;
    }

    .cta-message h2 {
        font-size: 1.75rem;
        padding-bottom: .5rem;
    }

    .cta-message h3 {
        font-size: 1.75rem;
    }

    .cta-buttons {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        width: 80vw;
    }

    .store-tasting {
        padding: 1rem 2rem;
    }

    .contact-us {
        padding: .875rem 2.5rem;
    }
    /* End of cta */
}
